In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('datasets/fb.csv')

In [15]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [16]:
#1

In [17]:
df['Paid'].value_counts()

Paid
0.0    360
1.0    139
Name: count, dtype: int64

In [6]:
# 2

In [8]:
df = df[['Type','Post Month','like','comment','share']]

In [9]:
df

       Type  Post Month    like  comment  share
0     Photo          12    79.0        4   17.0
1    Status          12   130.0        5   29.0
2     Photo          12    66.0        0   14.0
3     Photo          12  1572.0       58  147.0
4     Photo          12   325.0       19   49.0
..      ...         ...     ...      ...    ...
495   Photo           1    53.0        5   26.0
496   Photo           1    53.0        0   22.0
497   Photo           1    93.0        4   18.0
498   Photo           1    91.0        7   38.0
499   Photo           1    91.0        0   28.0

[500 rows x 5 columns]

In [11]:
#3

In [18]:
x = df[(df['Post Month']==9)]
x

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
155,135700,Photo,2,9,3,7,0.0,1685,2999,322,295,424,1794,953,237,0,54.0,16.0,70
156,135700,Photo,2,9,2,11,0.0,3756,7094,469,408,613,4935,2556,365,16,117.0,30.0,163
157,135700,Photo,3,9,2,2,0.0,2656,4862,390,309,445,3273,1722,309,1,115.0,21.0,137
158,135700,Photo,2,9,1,10,0.0,5086,9493,622,509,757,6200,3298,489,30,187.0,35.0,252
159,135617,Photo,2,9,1,3,1.0,2055,3915,346,288,412,2970,1507,277,1,84.0,13.0,98
160,135617,Photo,3,9,7,9,0.0,9384,14948,757,452,652,11148,7020,604,6,363.0,40.0,409
161,135617,Photo,2,9,7,3,0.0,3992,7255,598,447,688,4428,2420,435,6,244.0,32.0,282
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410
163,135617,Status,2,9,6,4,0.0,11096,21080,1843,1724,2106,16095,8120,1604,4,243.0,41.0,288
164,135428,Photo,1,9,5,10,0.0,1060,2004,266,251,337,1705,870,204,0,18.0,NaN,18
165,135428,Photo,2,9,5,3,1.0,2790,4879,435,360,513,3501,1999,351,0,113.0,19.0,132
166,135428,Photo,1,9,4,10,1.0,13856,37716,519,450,672,26832,9064,389,2,77.0,5.0,84
167,135428,Photo,3,9,4,2,1.0,10748,19724,892,498,719,13674,7624,704,8,485.0,64.0,557
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
169,135428,Photo,2,9,3,2,1.0,2522,4583,455,390,547,3031,1674,333,6,99.0,16.0,121
170,135195,Photo,3,9,2,9,0.0,4480,8039,572,430,599,5014,2704,416,3,188.0,26.0,217
171,135195,Photo,1,9,2,2,0.0,1543,2874,360,334,463,2373,1228,267,2,30.0,6.0,38
172,135195,Status,2,9,1,10,0.0,21256,41906,4840,4754,5906,35455,17592,4318,38,163.0,27.0,228
173,135195,Photo,1,9,1,4,0.0,4484,7829,545,424,629,4208,2412,382,6,179.0,40.0,225
174,135195,Photo,2,9,7,3,0.0,4398,8105,584,446,669,4799,2616,431,5,204.0,34.0,243
175,135195,Status,2,9,6,10,1.0,13216,24738,2675,2584,2969,19599,10232,2342,2,165.0,22.0,189
176,135195,Photo,3,9,6,3,1.0,22304,37159,1805,984,1618,22864,13304,1349,29,1047.0,98.0,1174
177,135195,Photo,1,9,5,11,0.0,6208,10830,644,473,678,6866,4016,495,2,234.0,40.0,276
178,135195,Photo,2,9,5,2,0.0,4518,8533,626,482,729,4215,2254,439,7,250.0,42.0,299
179,135195,Photo,2,9,4,10,0.0,3582,6518,537,430,597,3857,2124,404,4,154.0,36.0,194
180,134879,Status,2,9,4,4,1.0,9124,17776,1476,1397,1797,13887,7092,1331,20,150.0,29.0,199
181,134879,Photo,1,9,3,10,0.0,14152,38806,631,549,836,19409,6632,404,4,102.0,8.0,114
182,134879,Photo,3,9,3,2,1.0,4260,7989,588,435,622,4578,2432,436,1,226.0,44.0,271
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
184,134879,Photo,2,9,2,3,0.0,2363,4223,393,348,476,3332,1788,297,11,68.0,11.0,90
185,134879,Photo,1,9,1,10,0.0,2232,4005,374,335,458,3247,1740,278,0,62.0,10.0,72
186,134879,Photo,2,9,1,6,0.0,4048,7217,544,405,602,4046,2280,368,5,223.0,35.0,263
187,134879,Photo,2,9,7,10,0.0,1804,2968,330,280,352,2293,1354,234,0,61.0,6.0,67
188,134879,Photo,3,9,7,4,1.0,2351,4028,371,298,392,3112,1791,288,1,104.0,12.0,117
189,133679,Photo,2,9,2,10,0.0,3100,5388,518,422,609,3927,2274,367,3,146.0,15.0,164
190,133679,Photo,3,9,2,3,1.0,2360,4004,436,365,486,2757,1603,300,2,102.0,15.0,119

In [22]:
x['Page total likes'].mean()

135185.33333333334

In [19]:
#4

In [29]:
y = df['Type']== "Link"
y

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: Type, Length: 500, dtype: bool

In [32]:
total_true = y.sum()
print("Total Link values:", total_true)

Total Link values: 22

In [33]:
#5

In [59]:
mask = df['Type'] == "video"
mask

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: Type, Length: 500, dtype: bool

In [60]:
df1 = df[mask]

In [62]:
df1['share'].sum()

0.0

In [54]:
df['Post Hour'].max()

23

In [66]:
y= df[df['Post Hour'] == 23]
y

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
230,131630,Photo,3,7,2,23,0.0,2822,5058,424,351,486,3681,2020,327,2,113.0,20.0,135